<!doctype html>
<html lang="ko">
<head>
    {# bootstrap#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    {# ajax #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        hr {
            border: 1px solid rgba(0,0,0,.1);
        }

        .text-center {
            font-size: 30px;
        }

        .content {
            padding-top: 50px;
            text-align: center;
        }
        .home {
            padding-top: 50px;
        }

        .link {
            color: white;
        }

        html, body {
            min-height: 1000px;
            }

    </style>

<body>

<div class="container">
    <header class="blog-header">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="navbar-brand" href="{% url "game:home" %}"><img
                        src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/75332821_2462692640645362_6889331996112191488_o.jpg?_nc_cat=103&_nc_ohc=_eyu2eOo3nkAX9Y-8vZ&_nc_ht=scontent-icn1-1.xx&oh=fabe2a76a69e5c5de31f5e058eb70929&oe=5ECDF2E6"
                        width="40" height="40" alt=""
                        style="border-radius:50%;"></a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="{% url "game:home" %}">GAME</a>
            </div>
            <div class="col-4 empty-box">
            </div>
        </div>
    </header>
    <hr/>
    <div class="menu-bar">
        <nav class="nav justify-content-end">
            {% if user.is_authenticated %}
                <a class="p-2 text-muted" href = "/accounts/logout">로그아웃</a>
                <a class="p-2 text-muted" href="{% url 'game:mygame' %}">전적보기</a>
            {% else %}
                <a class="p-2 text-muted" href="{% url 'game:select_login' %}">로그인</a>
            {% endif %}
        </nav>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</div>
</body>
</html>