{% extends 'game/layout.html' %}
{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Time</th>
            <th scope="col">VS</th>
            <th scope="col">State</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ game.att_at }}</td>
                <td>{{ game.attacker }} VS {{ game.defender }}</td>
                <td>
                    {% if game.dfd_choice is None %}
                        {% if game.defender == request.user %}
                            <a href="{% url 'game:ing_challenge' game.id %}">
                                <button type="button">대응하기</button>
                            </a>
                        {% elif game.attacker == request.user %}
                            <a href="{% url 'game:ing_challenge' game.id %}">
                                <button type="button">진행중..</button>
                            </a>
                        {% endif %}
                    {% elif game.winner == None and game.loser == None %}
                        <a href="{% url 'game:ing_challenge' game.id %}">
                            <button type="button">무승부</button>
                        </a>
                    {% elif game.winner == request.user %}
                        <a href="{% url 'game:ing_challenge' game.id %}">
                            <button type="button">결과:승</button>
                        </a>
                    {% else %}
                        <a href="{% url 'game:ing_challenge' game.id %}">
                            <button type="button">결과:패</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
{% endblock %}